<div class="roster-centercontent">
        <div class="image-sec">
            <img src="/img/picture_main.png" class = "img-responsive">
        </div>
        <div class="content-sec"> Keeping physician roster data updated can be a constant struggle for both physician practices and health plans. Even answering a simple question like “is a particular provider accepting new patients?” is not easy to answer. A new solution called RosterSource is designed to make updates easy for everyone - at no cost to physician offices.
            <br>
            <br> No single stakeholder or institution can solve this problem alone. The RosterSource community was created to pull all participants into a single open source community. The community is designed to add resources easily, enabling infrastructure and system architects with the skills needed to manage secure provider roster data across institutions. </div>
    </div>